{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="brand-link">
    <img src="{% static "img/logo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle bg-light elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Clínica Médica</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% if medico.gender == "M"%} {% static 'img/male-user-img.jpg'%} {% elif medico.gender == "F" %} {% static 'img/female-user-img.jpg'%} {% endif %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ medico.get_full_name }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="home" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="consultas" class="nav-link">
            <i class="nav-icon fa-regular fa-rectangle-list"></i>
            <p>
              Consultas
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pacientes" class="nav-link">
            <i class="nav-icon fa-solid fa-user"></i>
            <p>
              Meus Pacientes
            </p>
          </a>
        </li>
        <li class="nav-item">
          <form action="/auth/logout" method="post" class="mt-5">
            {% csrf_token %}
            <button class="btn btn-danger w-100">
              <i class="fa-solid nav-icon fa-right-from-bracket"></i>
            </button>
          </form>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  <!-- /.sidebar -->
</aside>
