<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-*">
	<!-- Container wrapper -->
	<div class="container gap-4">
		<!-- Toggle button -->
		<button
			data-mdb-collapse-init
			class="navbar-toggler"
			type="button"
			data-mdb-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Navbar brand -->
			<a class="navbar-brand fw-bold gap-1 mt-2 mt-lg-0" href="home">
				Clínica <span class="text-primary"> Médica</span>
				<img
					class="ms-2"
					src="../../../static/img/logo.png"
					height="40"
					alt="Logo Clinica Medica"
					loading="lazy"
				/>
			</a>
			<!-- Left links -->
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="home">Início</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="agendamentos"
						>Agendamento de Consultas</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="perfil">Perfil</a>
				</li>
			</ul>
		</div>
		<!-- Right elements -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
