{% extends "../layouts/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block header_title %}Dashboard{% endblock %}
{% block subtitle %}{{ today }}{% endblock %}
{% block content %}

<!-- Info Box Row-->
<div class="row">
    <div class="col-4">
        <div class="small-box bg-teal">
            <div class="inner">
                <h3>{{ total_consultas }}</h3>
                <p>Total de Consultas Hoje</p>
            </div>
            <div class="icon">
                <i class="fa-regular fa-rectangle-list"></i>
            </div>
            <a href="/medico/consultas" class="small-box-footer">
                Mais Informações <i class="ml-2 fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ total_pacientes }}</h3>
                <p>Total de Pacientes</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <a href="/medico/pacientes" class="small-box-footer">
                Mais Informações <i class="ml-2 fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>{{ total_consultas_finalizadas }}</h3>
                <p>Consultas Finalizadas</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-check-double"></i>
            </div>
            <a href="/medico/consultas?status=Concluído" class="small-box-footer">
                Mais Informações <i class="ml-2 fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<!-- Cards Row -->
<div class="row justify-content-between my-3">
    <!-- Consultas de Hoje Card -->
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Consultas de Hoje</h3>
                <div class="card-tools">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <ul class="list-group-flush p-0">
                    {% for consulta in consultas_hoje %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ consulta.patient.get_full_name }}</div>
                            <span class="badge bg-primary">{{ consulta.date_time|date:"H:i" }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="card-footer text-center">
                <a href="/medico/consultas" class="link">Ver Todos</a>
            </div>
        </div>
    </div>

    <!-- Próximo Paciente Card -->
    <div class="col-md-6">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Próximo Paciente</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {% if consultas_hoje %}
                <div class="row">
                    <div class="col">
                        <h4 class="fw-bold mb-0">{{ consultas_hoje.0.patient.get_full_name }}</h4>
                        <div>
                            <small class="mr-3">Hora: {{ consultas_hoje.0.date_time|date:"H:i" }}</small>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col">
                        <h4 class="fw-bold mb-0">Nenhum paciente agendado</h4>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="card-footer text-center">
                <a href="/medico/pacientes" class="link">Ver Todos</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
