{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<!-- Container wrapper -->
	<div class="container">
		<!-- Navbar brand -->
		<a
			class="navbar-brand text-success fw-bold gap-1 mt-lg-0"
			href=""
		>
			Clínica <span class="text-primary"> Médica</span>
			<img
				class="ms-2"
				src="{% static "img/logo.png" %}"
				height="40"
				alt="Logo Clinica Medica"
				loading="lazy"
			/>
		</a>

		<!-- Toggle button -->
		<button
			data-mdb-collapse-init
			class="navbar-toggler"
			type="button"
			data-mdb-target="#navbarButtonsExample"
			aria-controls="navbarButtonsExample"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarButtonsExample">
			<div class="d-flex ms-auto my-3 mt-md-2 align-items-center">
				<a
					data-mdb-ripple-init
					class="btn btn-primary px-3 me-2"
					href="/auth/login"
				>
					Login
					<i class="fas ms-2 fa-arrow-right-to-bracket"></i>
				</a>
				<a
					data-mdb-ripple-init
					class="btn btn-secondary me-3"
					href="/auth/register"
				>
					Cadastro
					<i class="fa-regular ms-2 fa-pen-to-square"></i>
				</a>
				<a
					data-mdb-ripple-init
					class="btn btn-dark px-3"
					href="https://github.com/jeanmarcel-inf/clinica_medica"
					role="button"
					><i class="fab fa-github"></i
				></a>
			</div>
		</div>
		<!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
