{% load static %}

<!-- Navbar -->
<nav class="navbar sticky-top bg-body-secondary shadow navbar-expand-lg bg-*">
	<!-- Container wrapper -->
	<div class="container gap-4">
		<!-- Toggle button -->
		<button
			data-mdb-collapse-init
			class="navbar-toggler"
			type="button"
			data-mdb-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar brand -->
		<a class="navbar-brand text-success fw-bold gap-1 mt-2 mt-lg-0" href={% url 'paciente:home'%}>
			Clínica <span class="text-primary"> Médica</span>
			<img
				class="ms-2"
				src="{% static "img/logo.png" %}"
				height="40"
				alt="Logo Clinica Medica"
				loading="lazy"
			/>
		</a>
		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Left links -->
			<ul class="navbar-nav ms-auto mb-2 gap-3 mb-lg-0">
				<li class="nav-item hover-primary">
					<a class="btn btn-link" href="{% url 'paciente:home'%}">Home</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-link" href="{% url 'paciente:appointments'%}"
						>Agendamento de Consultas</a
					>
				</li>
				<li class="nav-item">
					<a class="btn btn-link" href="{% url 'paciente:profile'%}">
						Perfil
						<i class="fas fa-circle-user ms-2"></i>
					</a>
				</li>
			</ul>
		</div>
		<!-- Right elements -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
