{% extends "../layouts/base.html" %}
{% block title%}Recuperação de Senha{% endblock%}
{% block content %}

<!-- Section: Design Block -->
<section class="py-5 py-md-0" >
  <div class="container-fluid h-custom">
    <div class="row d-flex flex-row-reverse justify-content-center align-items-center vh-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="mb-4">
            <h1 class="display-4">Recuperação de Senha</h1>
            <h5 class="lead">Um código de recuperação será enviado ao seu email para redefinição de senha.</h5>
          </div>

          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example3">Email</label>
          </div>

          <div class="row text-center gap-3 text-lg-start mt-3 pt-2 px-2">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg col-lg-3">Enviar</button>
            <a href="login" class="btn btn-outline-primary btn-lg col-lg-3">Cancelar</a>
          </div>

        </form>
      </div>
    </div>
  </div>
  
</section>

{% endblock %}