{% extends "../../layouts/base.html" %}
{% block title %}Redefina sua senha{% endblock %}
{% block content %}
<h1>Redefina sua senha</h1>
{% if validlink %}
<p>Por favor, digite sua nova senha duas vezes:</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>
</form>
{% else %}
<p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
{% endif %}
{% endblock %}
