{% extends "../../layouts/base.html" %}
{% block title %}Recuperação de Senha{% endblock %}
{% block content %}
<section class="py-5 py-md-0">
  <div class="container-fluid h-custom">
    <div class="row d-flex flex-row-reverse justify-content-center align-items-center vh-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="." method="post">
          {% csrf_token %}
          
          <div class="mb-4">
            <h1 class="display-4">Recuperação de Senha</h1>
            <h5 class="lead">Um código de recuperação será enviado ao seu email para redefinição de senha.</h5>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            {{ form.email }}
            <label class="form-label" for="login-email">Email</label>
          </div>
          <div class="d-flex text-center gap-3 text-lg-start mt-3">
            <button class="btn btn-primary" value="Send e-mail">Enviar</button>
            <a href="/auth/login" class="btn btn-outline-primary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
