{% extends "../layouts/base.html" %} 
{% load static %}
{% block title %}Agendamentos{% endblock %}
{% block content %} {% include "../includes/navigation.html" %}

<div class="container my-3">
	<div class="row">
		<form method="get" action="{% url 'paciente:appointments' %}" class="form-inline mb-3 w-25">
			{{filtro_form.especialidade.label}}
			<select name="especialidade" id="filter_especialidade" class="form-control">
				{% for option in filtro_form.especialidade %}
					{{option}}
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-primary ml-2 mt-2">Filtrar</button>
    	</form>
	</div>
	<div
		class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-1"
	>
		{% if medicos %}

		{% for medico in medicos %}
		<div class="card w-25">
			<img
				src="{% if medico.gender == "M"%} {% static 'img/male-user-img.jpg'%} {% elif medico.gender == "F" %} {% static 'img/female-user-img.jpg'%} {% endif %}"
				class="card-img-top"
				alt="Hollywood Sign on The Hill"
			/>
			<div class="card-body">
				<h3 class="card-title">{{ medico.get_full_name }}</h3>
				<button class="btn btn-sm btn-outline-primary">
					{{medico.get_especialidade}}
				</button>
			</div>
			<div class="card-footer mt-3">
				<button
					type="button"
					class="btn w-100 btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#modalConsulta{{ medico.id }}"
				>
					Ver Horários
				</button>
			</div>
		</div>
		<!-- Modal -->
		<div
			class="modal modal-lg fade"
			id="modalConsulta{{ medico.id }}"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div>
							<h5 class="modal-title">Agendar Consulta</h5>
							<small>17/06/2024</small>
						</div>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body">
						<div class="row align-items-center">
							<div class="col-4">
								<img
									src="{% if medico.gender == "M"%} {% static 'img/male-user-img.jpg'%} {% elif medico.gender == "F" %} {% static 'img/female-user-img.jpg'%} {% endif %}"
									class="img-thumbnail"
									alt="foto medico"
								/>
							</div>
							<div class="col-8">
								<h6 class="text-primary mb-1">
									CRM - {{ medico.crm }}
								</h6>
								<h2 class="text-break">
									{{ medico.get_full_name }}
								</h2>
								<span class="badge text-bg-primary mb-3">
									{{medico.get_especialidade}}
								</span>
								<h6 class="text-secondary">
									Sexo: {{medico.gender}}
								</h6>
								<h6 class="text-secondary">
									Idade: {{medico.get_age}}
								</h6>
							</div>
						</div>
						<hr class="hr hr-blurry my-4" />
						<form
							method="post"
							action="{% url 'paciente:agendar_consulta' medico.id %}"
						>
							{% csrf_token %}
							<div>
								<label>Data da Consulta: </label>
								{{ form.data }}
							</div>

							<div class="list-inline my-4" id="id_horario">
								<p>Horário da Consulta: </p>
								{% for choice in form.hora %}
								<label class="list-inline-item my-2">
									{{choice}}
								</label>
								{% endfor %}
							</div>

							<div data-mdb-input-init class="form-outline my-4">
								{{form.description}}
								<label class="form-label" for="descriptionArea"
									>Razão da consulta</label
								>
							</div>
							<button type="submit" class="btn btn-primary">
								Agendar
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}

		{% else %}

		<h3 class="w-100 my-5 text-center text-body-tertiary">Não há médicos disponíveis para atendimentos</h3>

		{% endif %}
	</div>
</div>

{% endblock %}
