{% extends "../layouts/base.html" %} {% block title %}Perfil{% endblock %} {% block content %} {% include "../includes/navigation.html" %}
<section style="background-color: #eee">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-4 gap-3">
				<!-- Paciente Card -->
				<div class="card mb-4">
					<div class="card-body text-center">
						<img
							src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
							alt="avatar"
							class="rounded-circle img-fluid"
							style="width: 150px"
						/>
						<h5 class="mb-2 mt-3">{{patient.first_name}}</h5>
						<form action="/auth/logout" method="post">
							{% csrf_token %}
							<button class="btn btn-danger">
								Sair da Conta
								<i
									class="fa-solid ms-2 fa-right-from-bracket"
								></i>
							</button>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-8">
				<!-- Detalhes do Paciente Card -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="d-flex">
							<p class="text-primary">Suas Informações</p>
							<button
								type="button"
								class="btn btn-secondary btn-sm btn-floating ms-auto"
								data-mdb-ripple-init
							>
								<i class="fa-regular fa-pen-to-square"></i>
							</button>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Nome Completo</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">
									{{patient.get_full_name}}
								</p>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Email</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">{{patient.email}}</p>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Celular</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">
									{{patient.cellphone_number}}
								</p>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-sm-3">
								<p class="mb-0">Data de Nascimento</p>
							</div>
							<div class="col-sm-9">
								<p class="text-muted mb-0">
									{{ patient.date_of_birth|date:"d/m/Y" }}
								</p>
							</div>
						</div>
						<hr />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<!-- Histórico de Consultas Card-->
				<div class="card mb-4 mb-md-0">
					<div class="card-body">
						<p class="text-primary font-italic mb-4">
							Histórico de Consultas
						</p>
						<table
							class="table table-hover table-sm align-middle mb-0 bg-white"
						>
							<thead class="bg-light">
								<tr>
									<th>Médico</th>
									<th class="d-none d-lg-table-cell">
										Especialidade
									</th>
									<th class="d-none d-lg-table-cell">
										Status
									</th>
									<th>Detalhes</th>
								</tr>
							</thead>
							<tbody>
								{% for consulta in consultas %}

								<tr>
									<td>
										<div class="d-flex align-items-center">
											<div class="ms-3">
												<p class="fw-bold mb-0">
													{{consulta.medico.get_full_name}}
												</p>
												<p
													class="text-muted mb-0 d-none d-md-table-cell"
												>
													{{ consulta.date_time.date|date:"d/m/Y" }} - {{ consulta.date_time.time|date:"H:i" }}  
												</p>
											</div>
										</div>
									</td>
									<td class="d-none d-lg-table-cell">
										<p class="fw-normal mb-0">
											{{consulta.medico.get_especialidade}}
										</p>
									</td>
									<td class="d-none d-lg-table-cell">
										<span
											class="badge rounded-pill d-inline {% if consulta.status.title == 'Agendado' %} badge-info {% elif consulta.status.title == 'Cancelado' %} badge-danger {% elif consulta.status.title == 'Concluído' %} badge-success {% endif %}"
										>
											{{consulta.status}}
										</span>
									</td>
									<td>
										<button
											type="button"
											class="btn btn-primary btn-floating btn-sm"
											data-bs-toggle="modal"
											data-bs-target="#modalConsulta{{ consulta.id }}"
											data-mdb-ripple-init
										>
											<i class="fas fa-align-justify"></i>
										</button>
										<!-- Modal -->
										<div
											class="modal modal-lg fade"
											id="modalConsulta{{ consulta.id }}"
											tabindex="-1"
											aria-labelledby="exampleModalLabel"
											aria-hidden="true"
										>
											<div
												class="modal-dialog"
												role="document"
											>
												<div class="modal-content">
													<div class="modal-header">
														<div>
															<h5
																class="modal-title"
															>
																Detalhes da Consulta
															</h5>
														</div>
														<button
															type="button"
															class="btn-close"
															data-bs-dismiss="modal"
															aria-label="Close"
														></button>
													</div>
													<div class="modal-body">
														<p>
															<strong
																>Médico:</strong
															>
															<span
																>{{consulta.medico.get_full_name}}</span
															>
														</p>
														<p>
															<strong>Data da Consulta</strong>
															<span>{{ consulta.date_time.date|date:"d/m/Y" }}</span>
														</p>
														<p>
															<strong>Horário da Consulta</strong>
															<span>{{ consulta.date_time.time|time:"H:i" }}</span>
														</p>
														<p>
															<strong>Status da Consulta:</strong>
															<span>{{consulta.status}}</span>
														</p>
														<p>
															<strong
																>Razão da
																Consulta:</strong
															>
															<span
																>{{consulta.description}}</span
															>
														</p>
														<p>
															<strong>Especialidade de Atendimento:</strong>
															<span>{{consulta.medico.get_especialidade}}</span>
														</p>
													</div>
													{% if consulta.status.title != "Cancelado" and consulta.status.title != "Concluído" %}
													<div class="modal-footer">
														<form action="{% url 'paciente:delete_consulta' consulta.id %}" method="get">
															<button
																class="btn btn-danger"
															>
																Cancelar esta Consulta
															</button>
														</form>
													</div>
													{% endif %}
												</div>
											</div>
										</div>
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
