{% extends "../layouts/base.html"%} {% block title%}Página Inicial{% endblock%}
{% block content%} {% include "../includes/navigation-no-auth.html" %}
<!-- Background image -->
<div
	class="bg-image"
	style="
		background-image: url('../../../static/img/hero-image.png');
		height: 100vh;
	"
>
	<div class="mask" style="background-color: hsla(0, 0%, 0%, 0.5)">
		<div
			class="container d-flex align-items-center justify-content-center h-100"
		>
			<div class="text-white text-center">
				<h1 class="display-1 font-bold">
					Clínica Médica
					<img
						class="ms-2"
						src="../../../static/img/logo.png"
						height="100"
						alt="Logo Clinica Medica"
						loading="lazy"
					/>
				</h1>
				<p class="lead mt-2 mb-5">
					Trazendo praticidade e compromisso com o seu atendimento
				</p>
				<div>
					<a
						class="btn btn-lg btn-primary me-4 w-25"
						href="/auth/login"
						data-mdb-ripple-init
						>Login</a
					>
					<a
						class="btn btn-lg btn-secondary w-25"
						href="/auth/register"
						data-mdb-ripple-init
						>Cadastro</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Background image -->
{% endblock %}
